.no-bprofile-msg
{
    width: wrap;
    height: wrap;
    text-align: center;
    font-family: Roboto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.rfloat
{
    float: right;
}

.close-business-modal
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1001;
}

.close-business-modal--content
{
    background-color: #FFFFFF;
    padding: 20px;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.close-business-modal--msg
{
    padding: 5px;
    border-bottom: 0.02em solid #939393;
}

.close-business-modal--acts
{
    margin-top: 10px;
}

.close-business-modal--button
{
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.close-business-modal--cancel
{
    margin-right: 1em;
}

.close-business-modal--ok
{
    color: rgb(255, 185, 70);
}

.business-options-container
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.business-options
{
    background-color: #FFFFFF;
    width: 200px;
    min-height: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
}

.bo-item 
{
    padding-left: 8px;
    border-bottom: 0.02em solid #bab8b8;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
}

.bo-item:last-child
{
    border-bottom: none;
}

.bo-item:hover 
{
    background-color: #e3e2e2;
}

.setup-business-btn
{
    margin-top: 10px;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    color: black;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid rgb(255, 185, 70);
    background-color: #FFFFFF;
}

.no-bprofile-msg p
{
    font-size: 2em;
}

i.td-icon {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.bl {
    list-style-type: none;
    margin: 0 0 20px 0;
}

.bli {
    margin: 20px 0 20px 0;
    width: inherit;
    padding: 5px;
    margin-bottom: 10px;
    padding: 20px 20px 0 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.bli-head {
    font-family: Roboto, Arial;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.bli-head--1--1
{
    margin-left: 16px;
    margin-top: 12px;
}

.bli-date
{
    font-size: 16px;
    color: #b1b1b1;
}

.bli-status
{
    color: red;
    font-size: 0.5em;
}

.bli-stat {
    font-family: Roboto, Arial;
    font-size: 20px;
    width: 100%;
    height: 80px;
}

.bli-st-i {
    float: left;
    width: 33.33%;
    padding-left: 10px;
    padding-bottom: 10px;
    height: max-content;
    height: 80px;
    font-weight: 300;
}

.bli-total {
    border-right: 1px solid black;
    display: inline-block;
    height: inherit;
}

.bli-head--1
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bli-rev {
    border-right: 1px solid black;
    display: inline-block;
}

.bli-rating {
    display: inline-block;
    height: inherit;
}

.profile-top 
{
    height: 400px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);;
}

.pt-1 
{
    width: 100%;
    height: 250px;
    background-image: url("../images/box-texture.jpeg");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

.pt-2 
{
    display: flex;
    flex-direction: row;
}

.profile-pic-placeholder
{
    display: inline-block;
    text-align: center;
    background-color: rgb(98, 175, 198);
    color: #FFFFFF;
    font-size: 50px;
    line-height: 200px;
    user-select: none;
}

.profile-pic
{
    border: 5px solid #FFFFFF;
}

.profile-pic, .profile-pic-placeholder
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(-100px);
    margin-left: 20px;
}

.profile-name
{
    font-family: Roboto;
    font-size: 28px;
    display: block;
    font-weight: 600;
    margin: 0 0 0 1em;
}

.profile-edit-btn
{
    width: 200px;
    height: 30px;
    font-size: 1em;
    margin: 5px 0 0 1em;
    background-color: rgb(255, 185, 70);
    color: black;
    transition: color 0.15s;
    border: none;
}

.business-analytics
{
    padding: 20px;
}