* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin-top: 10px;
}

i.td-icon {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

.new-b-btn {
    background-color: rgb(255, 185, 70);
    color: black;
    transition: color 0.15s;
    width: 100px;
    height: 30px;
    font-size: 1em;
    float: right;
    border: none;
}

.new-b-btn:hover {
    opacity: 0.8;
}

.bl {
    list-style-type: none;
}

.bli {
    width: inherit;
    padding: 5px;
    margin-bottom: 10px;
}

.bli-root {
    border-bottom: 1px solid black;
}

.bli-head {
    font-family: Roboto, Arial;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    padding: 10px;
}

.bli-stat {
    font-family: Roboto, Arial;
    font-size: 20px;
    width: 100%;
    height: 80px;
}

.bli-st-i {
    float: left;
    width: 33.33%;
    padding: 10px 10px 20px 10px;
    height: max-content;
    height: 80px;
    font-weight: 300;
}

.bli-total {
    border-right: 1px solid black;
    display: inline-block;
    height: inherit;
}

.bli-rev {
    border-right: 1px solid black;
    display: inline-block;
}

.bli-rating {
    display: inline-block;
    height: inherit;
}

.pdiv
{
    border: 1px solid black;
    margin: 0 10px 15px 10px;
}

.profile-top 
{
    height: 400px;
}

.pt-1 
{
    width: 100%;
    height: 250px;
    background-image: url("../images/box-texture.jpeg");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

.pt-2 
{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.pt-2-1
{
    margin: 10px 0 0 20px;
}

.profile-pic
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(-100px);
}

.profile-edit-btn
{
    width: 200px;
    height: 30px;
    font-size: 1em;
    margin-top: 5px;
    background-color: rgb(255, 185, 70);
    color: black;
    transition: color 0.15s;
    border: none;
}