* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin-top: 10px;
}

/* .notif-list-container
{
    display: flex;
    justify-content: center;
} */

.notif-list-container
{
    margin-left: 10px;
}

.notif-list
{
    list-style-type: none;
}

.nli {
    width: inherit;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    display: inline-block;
    width: 100%;
}

.nli-root
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nli-2-2
{
    margin-bottom: 10px;
}

#nli-img
{
    border-radius: 50%;
    width: 105px;
    height: 105px;
    margin-right: 10px;
}

#nli-name
{
    font-size: 20px;
    color: #A9A9A9;
    margin-bottom: 10px;
}

#nli-type-name
{
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}

#nli-time
{
    font-size: 20px;
    color: #A19D9D;
    font-weight: 350;
}

.nli-status 
{
    font-size: 20px;
    font-weight: 350;
}

.nli-status-pending
{
    color: #DC0404;
}

.nli-status-fulfilled
{
    color: green;
}

#nli-view-btn 
{
    background-color: rgb(255, 185, 70);
    color: black;
    transition: color 0.15s;
    width: 100px;
    height: 30px;
    font-size: 1em;
    border: none;
}