* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin-top: 10px;
}

.pdiv
{
    border: 0.03em solid black;
    box-shadow: .1em;
    margin: 0 10px 15px 10px;
}

.profile-top 
{
    height: 400px;
}

.pt-1 
{
    width: 100%;
    height: 250px;
    background-image: url("../images/box-texture.jpeg");
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}

.pt-2 
{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.pt-2-1
{
    margin: 10px 0 0 20px;
}

.profile-pic
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: translateY(-100px);
}

.profile-edit-btn
{
    width: 200px;
    height: 30px;
    font-size: 1em;
    margin-top: 5px;
    background-color: rgb(255, 185, 70);
    color: black;
    transition: color 0.15s;
    border: none;
}

.profile-middle
{
    display: grid;
    grid-template-columns: 20% 80%;
}

.profile-stat div
{
    display: flex;
    justify-content: start;
}

.profile-stat p
{
    display: inline-block;
    margin-right: 50px;
}

.profile-stat, .profile-about, .profile-map, .profile-recent-activity
{
    background-color: rgb(250, 250, 250);
    padding: 5px 10px 5px 10px;
}

.profile-bottom
{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.pra-list
{
    list-style-type: none;
}

.pra-li-root
{
    border: 1px solid black;
    margin-top: 5px;
}

.pra-li-top
{
    display: flex;
    flex-direction: row;
}

.pra-li-top span 
{
    font-size: 25px;
}

.map 
{
    margin-top: 5px;
    width: 500px;
    height: 500px;
    border-radius: 1em;
}