.new-r-btn {
    background-color: rgb(106, 168, 255);
    color: white;
    transition: color 0.15s;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 10px;
    float: right;
}

.new-r-btn:hover {
    opacity: 0.8;
}

.rl {
    list-style-type: none;
}

.rli {
    width: inherit;
    padding: 5px;
    margin-bottom: 10px;
}

.rli-root {
    border-width: 0.01em;
    border-style: solid;
    border-color: black;
    padding: 10px 5px 20px 5px;
}

.rli-head {
    font-family: Roboto, Arial;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    padding: 10px;
    float: left;
}

.td-icon {
    margin-right: 5px;
    cursor: pointer;
}

.act-btns 
{
    float: right;
}

.view-on-map-btn
{
    width: 140px;
    height: 30px;
    font-size: 0.7em;
}

.u-lvl
{
    font-size: 15px;
    color: red;
}

.req-info
{
    margin-left: 45px;
    color: rgba(0, 0, 0, 0.5);
}