* 
{
    box-sizing: border-box;
}

:root
{
    --app-body-bg-color: #DAE0E6;
    --app-line-color: #939393;
    --app-radius-round: 50%;
    --app-basic-border-radius: 8px;
    --app-basic-box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
    --app-theme-color: rgb(255, 185, 70);
}

.req-list-container
{
    padding: 10px;
}

.req-list {
    list-style-type: none;
}

.req-list-item {
    width: inherit;
    padding: 5px;
    margin-bottom: 10px;
}

.rli-root {
    box-shadow: var(--app-basic-box-shadow);
    padding: 10px 5px 20px 5px;
}

.rli-head {
    font-family: Roboto, Arial;
    font-weight: 400;
    font-size: 25px;
    width: 100%;
    padding: 10px;
    float: left;
}

.request-icon
{
    width: 40px;
    height: 40px;
}

.td-icon {
    margin-right: 5px;
    cursor: pointer;
}

.act-btns 
{
    float: right;
}

.view-on-map-btn
{
    width: 140px;
    height: 30px;
    font-size: 0.7em;
}

.u-lvl
{
    font-size: 15px;
    color: red;
}

.req-info
{
    margin-left: 45px;
    color: rgba(0, 0, 0, 0.5);
}