 * {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    margin-top: 5px;
}


h1 {
    display: inline-block;
    width: 100px;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    border: 1px solid;
    border-top: none;
}

.sidenav a {
    padding: 16px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: blue;
}

.nav-bar-top {
    margin: 20px 0 0 20px;
}

#body{
    margin-left: 300px;
    padding: 20px;
}

 div #search{
      background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat right;
      width: 50%;
      height: 40px;
      margin-left: 200px;
      border: none;
      border-bottom: 1px solid;
      outline: none;
      font-size: 20px;
      margin-bottom: 20px;
}

div #search::placeholder{
    font-size: 20px;
}

#body h2{
    padding-bottom: 5px;
}

#body h5{
    opacity: .5;
    margin-bottom: 20px;
   
}

div #add{
    position: absolute;
    left: 1200px;
    top: 155px;
    height: 35px;
    width: 120px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #02adff;
}

#add:active {
  transform: translateY(4px);
}

#view{
    padding-top: 5px;
    border: none;
    outline: none;
}

#request{
    margin-top: 20px;
    height: 150px;
    border: 1px solid;
}

#request h2 {
    padding: 10px;
    display: inline-block;
}

#request h5{
    display: inline-block;
    margin-left: 45px;
    opacity: .5;

}

div #view_on_map{
    width: 150px;
    font-size: 20px;
    height: 40px;
    border-color: #02adff;
    background-color: white;
    position:absolute ;
    right: 100px;
    top: 310px;
}



